<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            AUDIOS
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <section>
        <ion-button size='small' color="primary" href="/newaudio">ADD AUDIO</ion-button>
    </section>
    <ion-list>

        <ion-item *ngFor="let audio of audios">
            <ion-avatar slot="start">
                <img src="../assets/images/preview.svg">
            </ion-avatar>
            <ion-label>
                <h2>{{audio.title}}</h2>
                <a href="{{audio.file}}">LISTEN</a>
            </ion-label>
        </ion-item>


    </ion-list>
</ion-content>