<ion-header>
    <ion-toolbar>
        <ion-title>ADD NEW LINK</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="myForm" (ngSubmit)="submit()">

        <ion-item lines="full">
            <ion-label position="floating">TITLE</ion-label>
            <ion-input formControlName="title" type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">LINK</ion-label>
            <ion-input formControlName="link" type="text" required></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" expand="block">Submit</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>